.container {
  display: flex;
  align-items: stretch;
  background-color: #fff;
}

.leftSectionWrapper {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  flex-grow: 1;
}

.leftSection {
  background-color: orange;
  width: 275px;
  padding: 0 8px;
  height: 100dvh;
}

.rightSectionWrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  height: 100dvh;
  flex-grow: 1;
}

.rightSectionInner {
  background-color: aqua;
  height: 100%;
  width: 990px;
  display: flex;
  justify-content: space-between;
}

.main {
  width: 600px;
}

.rightSection {
  background-color: blue;
  width: 350px;
  height: 100%;
}
